body {
  font-family: 'VT323', monospace;
  margin: 0;
}

.container {
  display: flex;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.left a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.right {margin-left: auto;}

@media screen and (max-width: 600px) {
  header nav div.right, 
  header nav div {float: none;}
}