<!DOCTYPE html>
<html>
<head>
  <!-- Set the font --> 
  <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
  <!-- Set the main style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% if title %}
      <title>Flask blog - {{ title }}</title>
  {% else %}
      <title>Flask blog</title>
  {% endif %}
</head>
<body>
  <!-- Header -->
  <header>
    <nav>
      <div class="container" >
        <div class="navtitle">
          <a href="/">Flask blog</a>
        </div>
        <!-- NAv bar left side -->
        <div class="left">
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('about') }}">About</a>
        </div>
        <!-- Nav bar right side -->
        <div class="right">
          <a href="">Login</a>
          <a href="">Register</a>
        </div>
      </div>
    </nav>
  </header>
  
  <!-- Main -->
  <main>
    <div class="container">
      <div>
        {% block content %}{% endblock %}
      </div>
      <div class="sidebar">
        <div>
          <h3>Our Sidebar</h3>
          <p class='text-muted'>You can put any information here you'd like.
            <ul>
              <li>Latest Posts</li>
              <li>Announcements</li>
              <li>Calendars</li>
              <li>etc</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </main>
  
</body>
</html>