{% extends "layout.html" %}
{% block content %}
  <div class="content-box">
    <!-- CFR token -->
    {{ form.hidden_tag() }}
    <form method="POST" action="">
      <fieldset class="form-group">
        <legend>Join Today</legend>
        <div>
          {{ form.username.label(class="form-control-label")}}
          {{ form.username(class="form-control")}}
        </div>
        <div>
          {{ form.email.label(class="form-control-label") }}
          {{ form.email(class="form-control" )}}
        </div>
        <div>
          {{ form.password.label(class="form-control-label") }}
          {{ form.password(class="form-control") }}
        </div>
        <div>
          {{ form.confirm_password.label(class="form-control-label") }}
          {{ form.confirm_password(class="form-control")}}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn") }}
      </div>
    </form>
  </div>
  <div>
    <small class="text-muted">
      Already have an account? <a class="" href="{{ url_for('login') }}">Sign in</a>
    </small>
  </div>
{% endblock content %}